name: Run PHPUnit

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  phpunit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup PHP
        uses: shivammathur/setup-php@v4
        with:
          php-version: '8.3'
          extensions: mbstring, bcmath
      - name: Install composer
        run: composer install --no-progress --no-suggest --prefer-dist
      - name: Run tests
        run: vendor/bin/phpunit --colors=never
